/* Bloque 4 */
@import url(font-awesome.min.css);
.certificacion {

    background-image: url("../img/.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:  125px;



}


/* Footer */

#footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5em 5em 3em 5em;
    width: calc(100% + 2em);
    margin: 0 0 3em -2em;
}

#footer>* {
    width: calc(50% - 2em);
    margin-left: 2em;
}

#footer .copyright {
    width: 100%;
    margin: 2.5em 0 2em 0;
    font-size: 0.8em;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    #footer {
        padding: 4em 4em 2em 4em;
    }
}

@media screen and (max-width: 980px) {
    #footer {
        padding: 4em 3em 2em 3em;
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
    }
    #footer>* {
        width: 100%;
        margin-left: 0;
        margin-bottom: 3em;
    }
    #footer .copyright {
        text-align: left;
    }
}

@media screen and (max-width: 736px) {
    #footer {
        padding: 3em 2em 1em 2em;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 3em 1.5em 1em 1.5em;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 2.5em 1em 0.5em 1em;
    }
}


/* Icon */

.icon {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}

.icon.major {
    border: solid 1px;
    display: inline-block;
    border-radius: 100%;
    padding: 0.65em;
    margin: 0 0 2em 0;
    cursor: default;
}

.icon.major:before {
    display: inline-block;
    font-size: 6.25rem;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.2em;
    border-radius: 100%;
    border: solid 1px;
    text-align: center;
}

.icon.alt {
    display: inline-block;
    border: solid 1px;
    border-radius: 100%;
}

.icon.alt:before {
    display: block;
    font-size: 1.25em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
}

.icon.style1 {
    color: #efa8b0;
}

.icon.style2 {
    color: #c79cc8;
}

.icon.style3 {
    color: #a89cc8;
}

.icon.style4 {
    color: #9bb2e1;
}

.icon.style5 {
    color: #8cc9f0;
}

@media screen and (max-width: 1680px) {
    .icon.major:before {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 1280px) {
    .icon.major:before {
        font-size: 4.75rem;
    }
}

@media screen and (max-width: 736px) {
    .icon.major {
        margin: 0 0 1.5em 0;
        padding: 0.35em;
    }
    .icon.major:before {
        font-size: 3.5rem;
    }
}

.icon.major {
    border-color: rgba(255, 255, 255, 0.35);
}

.icon.major:before {
    border-color: rgba(255, 255, 255, 0.35);
}

.icon.alt {
    border-color: rgba(255, 255, 255, 0.35);
    color: #ffffff;
}

.icon.alt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.icon.alt:active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 0.65em 0 0;
}

ul.icons li:last-child {
    padding-right: 0 !important;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li>* {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li>* {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: 0 0 2em 0;
    }
    ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul.actions li:first-child {
        padding-top: 0;
    }
    ul.actions li>* {
        width: 100%;
        margin: 0 !important;
    }
    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.small li:first-child {
        padding-top: 0;
    }
}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

dl.alt dt {
    display: block;
    width: 3em;
    margin: 0;
    clear: left;
    float: left;
}

dl.alt dd {
    margin: 0 0 0.85em 5.5em;
}

dl.alt:after {
    content: '';
    display: block;
    clear: both;
}

ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.35);
}

dl dt {
    color: #ffffff;
}


/*Color icons*/
.social-btns .btn .fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.social-btns .btn.facebook:before {
    background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
    color: #3b5998;
}

.social-btns .btn.twitter:before {
    background-color: #3cf;
}

.social-btns .btn.twitter .fa {
    color: #3cf;
}

.social-btns .btn.google:before {
    background-color: #dc4a38;
}

.social-btns .btn.google .fa {
    color: #dc4a38;
}

.social-btns .btn.dribbble:before {
    background-color: #f26798;
}

.social-btns .btn.dribbble .fa {
    color: #f26798;
}

.social-btns .btn.skype:before {
    background-color: #00aff0;
}

.social-btns .btn.skype .fa {
    color: #00aff0;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
    color: rgb(10, 8, 8);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.social-btns {
    height: 90px;
    margin: 0px;
    font-size: 0;
    text-align: center;

}



.social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
}


/* Spotlight */

.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 0 2em 0;
}

.spotlight .content {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.spotlight .content> :last-child {
    margin-bottom: 0;
}

.spotlight .content header.major {
    margin: 0 0 2em 0;
}

.spotlight .image {
    display: inline-block;
    margin-left: 4em;
    padding: 0.65em;
    border-radius: 100%;
    border: solid 1px;
}

.spotlight .image img {
    display: block;
    border-radius: 100%;
    width: 16em;
}

@media screen and (max-width: 980px) {
    .spotlight {
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center;
    }
    .spotlight .content {
        -moz-flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 100%;
    }
    .spotlight .content header.major h2:after {
        margin-left: auto;
        margin-right: auto;
    }
    .spotlight .image {
        -moz-flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-left: 0;
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 736px) {
    .spotlight .image {
        padding: 0.35em;
    }
    .spotlight .image img {
        width: 12em;
    }
}

.spotlight .image {
    border-color: rgba(255, 255, 255, 0.35);
}


/* Main */

#main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;
}

#main input,
#main select,
#main textarea {
    color: #636363;
}

#main a:hover {
    color: #636363;
}

#main strong,
#main b {
    color: #636363;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
    color: #636363;
}

#main blockquote {
    border-left-color: #dddddd;
}

#main code {
    background: rgba(222, 222, 222, 0.25);
    border-color: #dddddd;
}

#main hr {
    border-bottom-color: #dddddd;
}

#main .box {
    border-color: #dddddd;
}

#main input[type="submit"],
#main input[type="reset"],
#main input[type="button"],
#main button,
#main .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #dddddd;
    color: #636363 !important;
}

#main input[type="submit"]:hover,
#main input[type="reset"]:hover,
#main input[type="button"]:hover,
#main button:hover,
#main .button:hover {
    background-color: rgba(222, 222, 222, 0.25);
}

#main input[type="submit"]:active,
#main input[type="reset"]:active,
#main input[type="button"]:active,
#main button:active,
#main .button:active {
    background-color: rgba(222, 222, 222, 0.5);
}

#main input[type="submit"].icon:before,
#main input[type="reset"].icon:before,
#main input[type="button"].icon:before,
#main button.icon:before,
#main .button.icon:before {
    color: rgba(99, 99, 99, 0.25);
}

#main input[type="submit"].special,
#main input[type="reset"].special,
#main input[type="button"].special,
#main button.special,
#main .button.special {
    background-color: #8cc9f0;
    color: #ffffff !important;
    box-shadow: none;
}

#main input[type="submit"].special:hover,
#main input[type="reset"].special:hover,
#main input[type="button"].special:hover,
#main button.special:hover,
#main .button.special:hover {
    background-color: #9acff2;
}

#main input[type="submit"].special:active,
#main input[type="reset"].special:active,
#main input[type="button"].special:active,
#main button.special:active,
#main .button.special:active {
    background-color: #7ec3ee;
}

#main input[type="submit"].special.icon:before,
#main input[type="reset"].special.icon:before,
#main input[type="button"].special.icon:before,
#main button.special.icon:before,
#main .button.special.icon:before {
    color: #ffffff !important;
}

#main label {
    color: #636363;
}

#main input[type="text"],
#main input[type="password"],
#main input[type="email"],
#main select,
#main textarea {
    background: rgba(222, 222, 222, 0.25);
    border-color: #dddddd;
}

#main input[type="text"]:focus,
#main input[type="password"]:focus,
#main input[type="email"]:focus,
#main select:focus,
#main textarea:focus {
    border-color: #8cc9f0;
    box-shadow: 0 0 0 1px #8cc9f0;
}

#main .select-wrapper:before {
    color: #dddddd;
}

#main input[type="checkbox"]+label,
#main input[type="radio"]+label {
    color: #636363;
}

#main input[type="checkbox"]+label:before,
#main input[type="radio"]+label:before {
    background: rgba(222, 222, 222, 0.25);
    border-color: #dddddd;
}

#main input[type="checkbox"]:checked+label:before,
#main input[type="radio"]:checked+label:before {
    background-color: #636363;
    border-color: #636363;
    color: #ffffff;
}

#main input[type="checkbox"]:focus+label:before,
#main input[type="radio"]:focus+label:before {
    border-color: #8cc9f0;
    box-shadow: 0 0 0 1px #8cc9f0;
}

#main ::-webkit-input-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
}

#main :-moz-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
}

#main ::-moz-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
}

#main :-ms-input-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
}

#main .formerize-placeholder {
    color: rgba(99, 99, 99, 0.25) !important;
}

#main .icon.major {
    border-color: #dddddd;
}

#main .icon.major:before {
    border-color: #dddddd;
}

#main .icon.alt {
    border-color: #dddddd;
    color: #636363;
}

#main .icon.alt:hover {
    background-color: rgba(222, 222, 222, 0.25);
}

#main .icon.alt:active {
    background-color: rgba(222, 222, 222, 0.5);
}

#main ul.alt li {
    border-top-color: #dddddd;
}

#main dl dt {
    color: #636363;
}

#main header.major h2:after {
    background-color: #dddddd;
    background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

#main table tbody tr {
    border-color: #dddddd;
}

#main table tbody tr:nth-child(2n + 1) {
    background-color: rgba(222, 222, 222, 0.25);
}

#main table th {
    color: #636363;
}

#main table thead {
    border-bottom-color: #dddddd;
}

#main table tfoot {
    border-top-color: #dddddd;
}

#main table.alt tbody tr td {
    border-color: #dddddd;
}

#main .spotlight .image {
    border-color: #dddddd;
}

#main>.main {
    padding: 5em 5em 3em 5em;
    border-top: solid 1px #dddddd;
}

#main>.main:first-child {
    border-top: 0;
}

#main>.main>.image.main:first-child {
    margin: -5em 0 5em -5em;
    width: calc(100% + 10em);
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#main>.main>.image.main:first-child img {
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 1280px) {
    #main>.main {
        padding: 4em 4em 2em 4em;
    }
    #main>.main>.image.main:first-child {
        margin: -4em 0 4em -4em;
        width: calc(100% + 8em);
    }
}

@media screen and (max-width: 980px) {
    #main>.main {
        padding: 4em 3em 2em 3em;
    }
    #main>.main>.image.main:first-child {
        margin: -4em 0 4em -3em;
        width: calc(100% + 6em);
    }
}

@media screen and (max-width: 736px) {
    #main>.main {
        padding: 3em 2em 1em 2em;
    }
    #main>.main>.image.main:first-child {
        margin: -3em 0 2em -2em;
        width: calc(100% + 4em);
    }
}

@media screen and (max-width: 480px) {
    #main>.main {
        padding: 3em 1.5em 1em 1.5em;
    }
    #main>.main>.image.main:first-child {
        margin: -3em 0 1.5em -1.5em;
        width: calc(100% + 3em);
    }
}

@media screen and (max-width: 360px) {
    #main {
        border-radius: 0;
    }
    #main>.main {
        padding: 2.5em 1em 0.5em 1em;
    }
    #main>.main>.image.main:first-child {
        margin: -2.5em 0 1.5em -1em;
        width: calc(100% + 2em);
        border-radius: 0;
    }
    #main>.main>.image.main:first-child img {
        border-radius: 0;
    }
}