nav {
  padding: 0px;
  
}
nav>ul {
  list-style: none;
  display: inline-block;
}
nav>ul>li {
  float: left;
  width: 108px;
  height: 65px;
  line-height: 65px;
  position: relative;
  
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}


ul.drop-menu li {
  display: none;
}

li:hover>ul.drop-menu li {
  display: block;
}
